* {
    margin: 0;
    padding: 0;
}

body{
    background: url(fotos/Ruit.png);
    background-repeat: no-repeat;
    background-size: 100% 70%;
}

#logofoto {
    width: 30%;
    height: 27%;
    margin-left: 16%;
    padding: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
  font-size: 17px;
  word-spacing: 15px;
  width: 357px;
  padding: 5%;
  background: #F65487;
    
}

h2, p, img{
    margin: 20px 0 20px 0;
}

img {
    max-width: 100%;
}